body {
    background-image: url('assets/2997.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Crimson Text", "Georgia";
    font-size: 22px;
    line-height: 1.5;
}

a.bouton {
 /** Ces directives indiquent au lien de ressembler à un bouton pour les principaux moteurs de rendu **/
 -webkit-appearance: button;
 -moz-appearance: button;
 appearance: button;
 /**Les directives en dessous enlèvent l'apparence par défaut en bleu et avec du texte souligné pour un lien hypertexte **/
 text-decoration: none;
 color: initial;
}

h1,h2 {
    font-family: "Oswald", "Helvetica Neue";
    text-align: center;
    color: #B533FF;
}

p {
    font-family: cursive;
    text-align: center;
    color: #B533FF;
    font-size: 125%;
}

h1 {
    font-size: 72px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

code {
    color: #CE234C;
}

img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    opacity: 95%;
    background-color: #c9c9c9;
    top: -1px;
    padding: 50px;
    padding-top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.color {
    font-family: cursive;
    text-align: center;
    color: #B533FF;
}
