body {
    background-image: url('assets/2997.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Crimson Text", "Georgia";
    font-size: 22px;
    line-height: 1.5;
}

h1,h2 {
    font-family: "Oswald", "Helvetica Neue";
    text-align: center;
    color: #B533FF;
}

p {
    font-family: cursive;
    text-align: center;
    color: #B533FF;
    font-size: 125%;
}

h1 {
    font-size: 72px;
}

h4 {
    font-family: "Oswald", "Helvetica Neue";
    text-align: center;
    color: #000000;
    font-size: 60%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

code {
    color: #CE234C;
}

img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    opacity: 90%;
    background-color: #c9c9c9;
    top: -1px;
    padding: 50px;
    padding-top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.color {
    font-family: cursive;
    text-align: center;
    color: #B533FF;
}

.button {
    
    background-color: #c9c9c9; /* Green */
    border: none;
    color: #B533FF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: cursive;
    line-height: 1;
    text-align: center
  }

.button1:hover {
    background-color: #B533FF;
    color: white;
  }

.button1 {
    background-color: #c9c9c9;
    color: #B533FF;
    border: 1.5px solid #B533FF;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }